/* Disables copy / paste on an element */
.no-copy {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

p {
    margin: 0.75rem 0rem;
}

pre {
    line-height: 1rem;
    font-family: monospace;
    margin:0;
    padding:0;
}

.code-block {
    padding: 0.5rem !important;
}

code {
    background-color: darkgray;
    padding-left: .25rem;
    padding-right: .25rem;
    color: whitesmoke;
}