/** Heavily inspired by this work: https://htmldom.dev/create-resizable-split-views/ */

.split-pane {
    border: none;
    display: flex;
    height: 95vh;
}

.resizer[data-direction='vertical'] {
    background-color: #cbd5e0;
    cursor: ns-resize;
    height: 5px;
    width: 100%;
}

.split-pane__vertical {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.split-pane__top {
    height: 12rem;
    align-items: center;
    display: block;
    overflow: auto;
    width: 100%;
    justify-content: center;
}

.split-pane__bottom {
    flex: 1;
    align-items: center;
    display: block;
    overflow: hidden;
    justify-content: center;
    width: 100%;
}