@inherits CaptainCoder.ReplIt
@* <div style="position:absolute">
    <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Cached" />
</div> *@
<iframe id="@Path" frameborder="0" src="@Url"></iframe>