<Challenge Title="Multiplication Table" Gold="175" XP="25">
    <Text>
        Write a program that asks the user to enter a number between 0 and 100. Then,
        display all multiples of that number that are less than or equal to 100.
    </Text>
    <Section IsSubSection=true Title="Guiding Questions">
        <Text>
            Before starting to program, you should think through how your
            program will work. Here are some questions that may be helpful for
            this challenge.
        </Text>
        <Question Text="What message will you display when the program starts?"/>
        <Question Spoiler="An int between 0 and 100" Text="What values does the user need to input?"/>
        <Question Text="What will your program do if the user enters an invalid value?"/>
        <Question Spoiler="One possible answer: i * value <= 100" Text="Under what condition will the program enter loop?"/>
    </Section>
    <Section IsSubSection=true Title="Write the Program">
        <Text>
            <TaskList Name="Perimeter of a Rectangle">
                <TaskItem Name="Create a new project">If you have not already done so, create a new C# project called "Multiplication Table Challenge"</TaskItem>
                <TaskItem Name="Display Rectangle"> Display a welcome message to the user.</TaskItem>
                <TaskItem Name="Prompt the User"> Prompt the user to enter a number.</TaskItem>
                <TaskItem Name="Read User Input"> Read user input and store the value in a variable.</TaskItem>
                <TaskItem Name="Invalid inputs"> Handle invalid inputs.</TaskItem>
                <TaskItem Name="Declare i"> Create a variable to count the times you've been in the loop.</TaskItem>
                <TaskItem Name="Write Loop"> Loop until your condition is met.</TaskItem>
                <TaskItem Name="Within the Loop"> Within the loop, multiply the users input by the counter variable.</TaskItem>
                <TaskItem Name="Increment"> Within the loop, increase the counter variable by 1.</TaskItem>
                <TaskItem Name="Bonus"> BONUS: Prompt the user "Would you like to try again?". If yes, loop the entire program.</TaskItem>
            </TaskList>
            <Question Text="Generate a share link of your Program.cs file and put it here"/>
        </Text>
    </Section>
</Challenge>