<Challenge Title="Rectangle Analyzer: Calculate the Perimeter">
    <Text>
        Create a C# program that prompts the user to enter the dimensions of
        a rectangle then displays the perimeter of the rectangle. When
        you are finished,
        your program should produce output similar to this:
    </Text>
    <Output>
Welcome to Rectangle Analzyer!
What is the width of your rectangle? <i><b>5</b></i>
What is the height of your rectangle? <i><b>10</b></i>
The perimeter of your rectangle is 50!</Output>
    <Section IsSubSection=true Title="Guiding Questions">
        <Text>
            Before starting to program, you should think through how your
            program will work. Here are some questions that may be helpful for
            this challenge.
        </Text>
        <Question Text="What message will you display when the program starts?"/>
        <Question Spoiler="You will need a width and a height" Text="What values does the user need to input?"/>
        <Question Text="What will you name the variables you use to store these inputs?"/>
        <Question Spoiler="An int or a double would work well." Text="What data type will you use for your variables?"/>
        <Question Spoiler="2 * (width + height) or (width + width + height + height) or (2 * width) + (2 * height) are all valid answers" Text="What code will you use to calculate the perimeter?"/>
        <Question Text="What will you name the variable that stores the perimeter?"/>
        <Question Text="How will you display the result to the user?"/>
    </Section>
    <Section IsSubSection=true Title="Write the Program">
        <Text>
            <TaskList Name="Perimeter of a Rectangle">
                <TaskItem Name="Create a new project">If you have not already done so, create a new C# project called "Rectangle Analyzer"</TaskItem>
                <TaskItem Name="Display Rectangle"> Display a welcome message to the user.</TaskItem>
                <TaskItem Name="Prompt the User"> Prompt the user to enter the width.</TaskItem>
                <TaskItem Name="Read User Input"> Read user input and store the value in a variable.</TaskItem>
                <TaskItem Name="Prompt User"> Prompt the user to enter the height.</TaskItem>
                <TaskItem Name="Read User"> Read user input and save the value in a variable.</TaskItem>
                <TaskItem Name="Calculate Perimeter"> Calculate the perimeter of the rectangle.</TaskItem>
                <TaskItem Name="Store the Result"> Store the results in another variable.</TaskItem>
                <TaskItem Name="Display Perimeter"> Display the perimeter to the user.</TaskItem>
            </TaskList>
        </Text>
    </Section>
</Challenge>