[submodule "IntroToCSharp/ReplIt/Examples/IntroToCSharp-HelloWorld"]
	path = IntroToCSharp/ReplIt/Examples/IntroToCSharp-HelloWorld
	url = https://github.com/jcollard/IntroToCSharp-HelloWorld.git
[submodule "IntroToCSharp/ReplIt/Examples/IntroToCSharp-ReadInputExample"]
	path = IntroToCSharp/ReplIt/Examples/IntroToCSharp-ReadInputExample
	url = https://github.com/jcollard/IntroToCSharp-ReadInputExample
[submodule "IntroToCSharp/ReplIt/Examples/IntroToCsharp-DogGenerator"]
	path = IntroToCSharp/ReplIt/Examples/IntroToCsharp-DogGenerator
	url = https://github.com/jcollard/IntroToCsharp-DogGenerator.git
