@using IntroToCSharp.Shared.Components.ReplIt
@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject ISnackbar Snackbar
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@* MudBlazor Dependencies *@
<MudThemeProvider @ref="_mudThemeProvider" Theme="Themes.s_CSharpTheme" @bind-IsDarkMode="@IsDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<TopMenu Main="this" />

<MudDrawerContainer Class="mt-13">
    <NavMenu Main="this" />
    

    <div class="pa-4" style="@BodyStyle">
        @Body
    </div>
    <div style="@ConsoleStyle">
        <Nix MinHeight="350px" />
    </div>

</MudDrawerContainer>
@code
{
    private static IJSRuntime? s_JS;
    private static ISnackbar? s_SnackBar;
    private static bool s_isInit = false;
    private static event Action<IJSRuntime, ISnackbar>? s_onInit;
    private MudThemeProvider _mudThemeProvider = null!;
    private bool _isDarkMode = true;
    public bool IsNavMenuOpen = true;
    private string ConsoleStyle => ShowConsole ? "display:block; height:45vh" : "display:none";
    private string BodyStyle => ShowConsole ? "overflow:auto; height: 45vh" : "overflow:auto; height: 92vh";
    private bool ShowConsole = false;

    public void ToggleConsole()
    {
        ShowConsole = !ShowConsole;
        StateHasChanged();
    }
    public bool IsDarkMode
    {
        get => _isDarkMode;
        set
        {
            if (value == _isDarkMode) return;
            _isDarkMode = value;
            UserService.Service.UpdateDarkModePreference(value);
            localStorage.SetItemAsync<bool>("DarkMode", value);
            StateHasChanged();
        }
    }

    public static event Action<IJSRuntime, ISnackbar> OnInit
    {
        add
        {
            if (value == null) throw new ArgumentNullException("Cannot add null event handler.");
            if (s_isInit)
            {
                value.Invoke(s_JS!, s_SnackBar!);
            }
            s_onInit += value;
        }
        remove => s_onInit -= value;
    }

    private void HandleDarkMode(bool newVal)
    {
        if (newVal != _isDarkMode) IsDarkMode = newVal;
    }

    protected override void OnInitialized()
    {
        s_onInit?.Invoke(JS, Snackbar);
        s_JS = JS;
        s_SnackBar = Snackbar;
        s_isInit = true;
        UserService.Service.OnUserChange += (user =>
        {
            if (user == null) return;
            if (user.DarkMode != null)
                user.DarkMode.DataChanged += HandleDarkMode;
        });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            bool hasDarkMode = await localStorage.ContainKeyAsync("DarkMode");
            if (!hasDarkMode)
            {
                bool systemPref = await _mudThemeProvider.GetSystemPreference();
                await localStorage.SetItemAsync<bool>("DarkMode", systemPref);
            }
            IsDarkMode = await localStorage.GetItemAsync<bool>("DarkMode");
        }
    }
    public void ToggleNavMenu() => IsNavMenuOpen = !IsNavMenuOpen;
}