
<MudDrawer @bind-Open="@Main.IsNavMenuOpen" Elevation="25" Variant="@DrawerVariant.Persistent" Style="position:fixed">
    <MudDrawerHeader Class="pr-4">

        <MudElement Class="d-flex flex-row justify-space-between" Style="width:100%">
            <MudText Typo="Typo.h6">
                <a href="">Intro To C#</a>
            </MudText>
            <MudIconButton Class="pa-0" Icon="@Icons.Material.Outlined.ArrowCircleLeft" Color="Color.Inherit" OnClick="@Main.ToggleNavMenu"/>
        </MudElement>
    </MudDrawerHeader>
    <MudNavMenu Bordered="true">
        <MudNavGroup Title="Getting Started">
            <MudNavLink Href="">Introduction</MudNavLink>
            <MudNavLink Href="getting-started/replit-console">Replit Console</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Lessons">
            <MudNavLink Href="activities/variables">Variables</MudNavLink>
            <MudNavLink Href="lessons/switch-statements">Switch Statements</MudNavLink>
            <MudNavLink Href="lessons/loops">Loops</MudNavLink>
            <MudNavLink Href="lessons/methods">Methods</MudNavLink>
            <MudNavLink Href="lessons/arrays">Arrays</MudNavLink>
            <MudNavLink Href="lessons/lists">Switch Statements</MudNavLink>
            <MudNavLink Href="lessons/switch statements">Lists</MudNavLink>
            <MudNavLink Href="lessons/dictionaries">Dictionaries</MudNavLink>
            <MudNavLink Href="lessons/classes">Classes</MudNavLink>
            <MudNavLink Href="lessons/inheritance">Inheritance</MudNavLink>
            <MudNavLink Href="lessons/polymorphism">Polymorphism</MudNavLink>
            <MudNavLink Href="lessons/interfaces">Interfaces</MudNavLink>
            <MudNavLink Href="lessons/events">Events</MudNavLink>
            <MudNavLink Href="lessons/lambda-expressions">Lambda Expresions</MudNavLink>
            <MudNavLink Href="lessons/other types">Other Types</MudNavLink>
            <MudNavLink Href="lessons/file-management">File Management</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Activities">
            <MudNavLink Href="activities/console-basics">Console Basics</MudNavLink>
            <MudNavLink Href="activities/two-truths-and-a-lie">Two Truths and a Lie</MudNavLink>
            <MudNavLink Href="activities/mad-takes">Mad Takes</MudNavLink>
            <MudNavLink Href="activities/variables">Variables</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Examples">
            <MudNavLink Href="examples/read-input" >Read Input</MudNavLink>
            <MudNavLink Href="examples/display-options">Display Options</MudNavLink>
            <MudNavLink Href="examples/random-dog-generator">Random Dog Generator</MudNavLink>
            <MudNavLink Href="examples/association-list">Association List</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Challenges">
            <MudNavLink Href="challenges/time-attack" >Time Attack</MudNavLink>
            <MudNavLink Href="challenges/complex-problems">Complex Problems</MudNavLink>
            <MudNavLink Href="challenges/efficient-code">Efficient Code</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Journal">
            <MudNavLink Href="journal/map" >Map</MudNavLink>
            <MudNavLink Href="journal/quests">Quests</MudNavLink>
            <MudNavLink Href="journal/character-stats">Character Stats</MudNavLink>
            <MudNavLink Href="journal/leveling">Leveling</MudNavLink>
            <MudNavLink Href="journal/Achievements">Achievement Log</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Social">
            <MudNavLink Href="social/discord" >Discord</MudNavLink>
            <MudNavLink Href="social/support" >Discord</MudNavLink>
            <MudNavLink Href="social/helpful-links" >Helpful Links</MudNavLink>
        </MudNavGroup>
        
    </MudNavMenu>
</MudDrawer>

@code
{
    [Parameter, EditorRequired]
    public MainLayout Main { get; set; } = null!;
}