@inherits CaptainCoder.Page
@page "/bug-report"

<Section Title="Bug Report Form">
    <MudPaper Height=800px Width=928px>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeN-h3xZoiaLob1zNOWTTg3J6DAYW9pudopoyTTOoaAntsNKw/viewform?embedded=true"
     width="800" height="928" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </MudPaper>
</Section>