@page "/"
@using IntroToCSharp.Shared.Components.ReplIt

<h1>Intro to Coding in C#</h1>
<p>
    Welcome to Intro to Coding in C#! This site is designed to be an interactive
    text book where you can track your progress, complete activities, and grow
    as a programmer. Although you can use this site without an account, you will
    be missing out on some of progress tracking features that are built in.
</p>
<h2>How to use this book</h2>
<h3>Code Examples</h3>
<p>
    Throughout this book, you will find code examples like the one below.
</p>
<CodeBlock Filename="NewProgram.cs" />
<p>
    Often, you will find that you copy and paste has been disabled on these code examples.
</p>
<Note>
    This is intentional.
</Note>
<p>
    When you are learning to program, it is important to memorize the syntax of 
    the language.
    Many students find this frustating because they would like to work through the
    book quickly. However, I encourage you to embrace the idea of slowing down to learn
    and to think through the code examples as you type them out.
</p>
<h3>Running Code Examples</h3>
<p>
    It is often helpful to execute the code examples to see the output and to interact
    with a program. To facilitate this, we utilize an
    online service called <MudLink Href="https://replit.com" Target="_blank">Repl.it</MudLink>
    which provides online tools for writing and executing programs. You'll learn more about
    Repl.it in the Development Environment chapter of this book.
</p>
<p>
    Below is a simple program that asks the user to enter their name
    and then displays the results to the console. 
    You can test this short program by
    clicking the <code>Run Code</code> button at the bottom of the example. This will launch
    a <MudLink Href="https://replit.com" Target="_blank">Repl.it</MudLink> console below the
    code example. After it loads, click the play button
    to compile and run the program. You should see <code>dotnet run</code> displayed in the console.
    This is the command that is used to compile and run C# programs. Go ahead and try it now.
</p>
<Note>
    If you are logged into Repl.it in your browser, this will run on your account. 
    If you are not logged in, or you are using a free tier account, compilation may 
    take 15 - 20 seconds.
</Note>

<CodeBlock Filename="AskName.cs" ReplIt="JosephCollard/AskName" />

<Note>
    Sometimes the console displays improperly. To fix this, you can click the
    <MudIcon Color="Color.Tertiary" Icon="@Icons.Outlined.Cached"/> button to refresh the 
    console. When you're finished, you can close the console by clicking the 
    <MudIcon Color="Color.Error" Icon="@Icons.Outlined.Close" /> button.
</Note>