@page "/"
@using IntroToCSharp.Shared.Components.ReplIt

<h1>Intro to Coding in C#</h1>
<p>
    Welcome to Intro to Coding in C#! This site is designed to be an interactive
    text book where you can track your progress, complete activities, and grow
    as a programmer. Although you can use this site without an account, you will
    be missing out on some of progress tracking features that are built in.
</p>
<h2>How to use this book</h2>
<p>
    Throughout this book, you will find code examples like the one below.
    You will find that many of the code snippets have selection disabled. 
</p>
    <p><b>Note: This is intentional.</b></p>
<p>
    When you are learning to program, it is important to memorize the syntax of 
    the language.
    Many students find this frustating because they would like to work through the
    book quickly. However, I encourage you to embrace the idea of slowing down to learn
    and to think through the code examples as you type them out.
</p>
<CodeBlock Filename="NewProgram.cs" ReplIt="JosephCollard/HelloWorld" />