@page "/multichoice"

<MudText Typo="Typo.h4">MultiChoice Test</MudText>

<Section Title="Some Section">
    <p>
        In addition to tracking your progress by marking sections read, this book
        also acts as a "work book" in which you can write answers and check off
        tasks within an activity or project. For example, most activities in this
        book will start with a "Pre-Knowledge Check" where I encourage you
        to try to answer questions you may not know the answers to. At the
        end of the activity, there will be a "Post-Knowledge Check" with the
        same (or similar) questions. The goal here is to see what we already know,
        what we might think we know, and what we are not sure about. Below
        is an example of what this looks like.
    </p>


    <MultipleChoiceQuestion IsMultiSelect="false" Question="Which of the following are integers?"
        Explanation="1.7 is not an integer. Integers are only whole numbers. Therefore, 4 and 17 are integers.">
        <CheckBoxOption Text="4.2" IsCorrect="false"/>
        <CheckBoxOption Text="1.7" IsCorrect="false"/>
        <CheckBoxOption Text="17" IsCorrect="true"/>
    </MultipleChoiceQuestion>
    <MultipleChoiceQuestion IsMultiSelect="false" Question="Which of the following are integers?"
        Explanation="1.7 is not an integer. Integers are only whole numbers. Therefore, 4 and 17 are integers.">
        <CheckBoxOption Text="4.2" IsCorrect="false"/>
        <CheckBoxOption Text="1.7" IsCorrect="false"/>
        <CheckBoxOption Text="17" IsCorrect="true"/>
    </MultipleChoiceQuestion>

</Section>
