@inherits CaptainCoder.Page
@page "/examples/association-list"

<h1>Association List</h1>
<p>
    The following method demonstrates how iterate over an association list to find the smallest value.
</p>
<CodeBlock Filename="AssociationList.cs" ReplIt="JosephCollard/AssociationList"/>
