@inherits CaptainCoder.Page
@page "/examples/association-list"

<Title>Association List</Title>
<p>
    The following method demonstrates how iterate over an association list to find the smallest value.
</p>
<CodeBlock Filename="AssociationList.cs" ReplIt="JosephCollard/AssociationList"/>
