@inherits CaptainCoder.Page
@page "/examples/display-options"

<h1>Display Options Example</h1>
<p>
    The following method demonstrates how to use a foreach loop
    to iterate over a list of elements and display them as an option
    list.
</p>
<CodeBlock Filename="DisplayOptions.cs" ReplIt="JosephCollard/DisplayOptions"/>
