@page "/examples/display-options"
@using IntroToCSharp.Shared.Components.CodeBlock

<h1>Display Options Example</h1>
<p>
    The following method demonstrates how to use a foreach loop
    to iterate over a list of elements and display them as an option
    list.
</p>
@* <p>Test it at repl.it: <a href="https://replit.com/@@JosephCollard/LoopThroughListExample#main.cs" target="_blank">LINK</a></p> *@
<CodeBlock Filename="DisplayOptions.cs" />
