@page "/examples/random-dog-generator"

<h1>Random Dog Generator Example</h1>
<p>
    The following code demonstrates how to use a `Random` to randomly select an element from a list
</p>
<CodeBlock Filename="RandomDogGenerator.cs" />
