@inherits CaptainCoder.Page
@page "/examples/random-dog-generator"

<Title>Random Dog Generator Example</Title>
<p>
    The following code demonstrates how to use a `Random` to randomly select an element from a list
</p>
<CodeBlock Filename="RandomDogGenerator.cs" ReplIt="JosephCollard/DogGenerator"/>
