@page "/examples/read-input"

<h1>Read Input Example</h1>
<p>
    The following method demonstrates how to use a do ... while loop 
    to write a method which prompts the user to enter valid input.
</p>
@* <p>Test it at repl.it: <a href="https://replit.com/@@JosephCollard/ReadValidInputExample#main.cs" target="_blank">LINK</a></p> *@
<CodeBlock Filename="GetInputGreaterThan1000.cs" />
