@inherits CaptainCoder.Page
@page "/examples/read-input"

<Title>Read Input Example</Title>
<p>
    The following method demonstrates how to use a do ... while loop 
    to write a method which prompts the user to enter valid input.
</p>
<CodeBlock Filename="GetInputGreaterThan1000.cs" ReplIt="JosephCollard/ReadInputExample"/>
