@inherits CaptainCoder.Page
@page "/"

<Title>Intro to Coding in C#</Title>
<Section Title="Overview">
    <Text>
        Welcome to Intro to Coding in C#! This site is designed to be a non-linear
        interactive text book where you can track your progress, complete activities, 
        and grow as a programmer. Please note that this book is still a work in progress
        but I hope you will find it useful.
    </Text>
</Section>
<Section Title="The Journey">
    <Text>
        Learning to program is a personal journey. I do not believe that there
        is a exists a one size fits all path for becomming a programmer. In fact,
        I believe at the beginning, there are so many options for learning that it
        can become overwhelming and it is easy to get lost. To help guide you on
        your learning journey, this book comes equipped with an <b>Adventure Mode</b>
        which tracks your progess.
    </Text>
    <Text>
        Although you can learn and grow from this book without an account, you
        will not be able to use the <b>Adventure Mode</b> feature.
        When activated, this book will remember which activities and lessons 
        you have discovered, your answers to questions, your completed tasks,
        the amount of gold and experience you have acquired, and the items
        you have collected on your journey!
    </Text>
    <Text>
        The first time you login, Adventure Mode will activate and hide 
        most of the content from the navigation menu. This is because you have
        not yet discovered those lessons and activities. As you continue your
        journey, your navigation menu will grow. Think of this as a "Fast Travel"
        option in a video game that allows you to quickly travel between locations
        you have previously visited.
    </Text>
</Section>
<Section Title="What's Next?">
    
    <Adventure Portrait="@Portraits.CaptainCoder">
        <Item>
            <AdventureDialog Page="@VSCode.PageRef">
                <MudText>
                    Greetings adventurer! I'm Captain Coder. Before you can start coding
                    you'll want to set up a development environment. If you're just
                    starting out, I recommend using Visual Studio Code. If you 
                    need help setting it up, take a look at the <b>Visual Studio Code</b>
                    section.
                </MudText>
            </AdventureDialog>
        </Item>
        <Item>
            <AdventureDialog Page="@TwoTruthsAndALie.PageRef">
                <MudText>
                    If your programming environment is ready to go and you want to take a 
                    crack at writing your first program, why not take a shot at the <b>Two
                    Truths and a Lie</b> activity?
                </MudText>
            </AdventureDialog>
        </Item>
        <Item>
            <AdventureDialog Page="@BookFeatures.PageRef">
                <MudText>
            If you want to know more about all of the features in this book head
            over to the <b>Book Features</b> section.
        </MudText>
            </AdventureDialog>
        </Item>
    </Adventure>
</Section>

@code {
    public static readonly PageRef PageRef = new PageRef("Introduction", "/", 0, "Getting Started", false);
}