<MudExpansionPanel>
    <TitleContent>
            <h3 class="pa-2" style="@Style">Explanation</h3>
    </TitleContent>
    <ChildContent>
        @ChildContent
    </ChildContent>
</MudExpansionPanel>
@code
{
    [Parameter, EditorRequired]
    public RenderFragment ChildContent {get; set;} = null!;
    private string Background = "background: var(--mud-app-bar-background);";
    private string Color = "color: var(--mud-palette-appbar-text);";
    private string Style => $"{Background} {Color}";
}