<MudSimpleTable Style="overflow-x: auto;">
    <thead>
        <tr>
            @foreach (var h in Headers)
            {
                <th>@h</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Rows)
        {
            <tr>
                @foreach (var cell in row)
                {
                    <td>@cell</td>
                }
            </tr>
        }
    </tbody>
</MudSimpleTable>

@code {
    [Parameter]
    public string[] Headers { get; set; } = { };
    [Parameter]
    public string[][] Rows { get; set; } = { };
}