<MudPaper Outlined="true" Elevation="3" Class="pa-2 my-2">
    <h2>Think About It</h2>
    @ChildContent
</MudPaper>
@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;
}