@inherits CaptainCoder.Page
@page "/activites/ascii-art"

<Title>Ascii Art</Title>
<Text>
    Coming soon!
</Text>

@code {
    public static readonly PageRef PageRef = new PageRef("Ascii Art", "/activites/ascii-art", 0, "Activities");
}