@inherits CaptainCoder.Page
@page "/activities/integers"

<Section Title="Integers">
    <MudText>
        In C#, if you want to store a number you will often create an <Code>int</Code>, which is short for "integer". An int is always 
        a whole number meaning it has no decimals.   
    </MudText>
     <CodeBlock>
         int currentYear = 2022;
     </CodeBlock>
 </Section>