<Section Title="The Remainder Operator">
    <Text>
        The four <b>arithemetic operators</b> in the example above are all
        <b>binary operators</b> (<Code>+</Code>, <Code>-</Code>, <Code>*</Code>,
        <Code>/</Code>). A <b>binary operator</b> is an <b>operator</b> that
        performs an operation on 2 <b>values</b>.
    </Text>
    <Text>
        There is a fifth, <b>arithmetic binary operator</b> called the
        <b>remainder operator</b> (<Code>%</Code>). The
        <b>remainder operator</b> divides two numbers and <b>evaluates</b>
        to the remainder of that division.
    </Text>
    <Text><b>Examples:</b></Text>
    <CodeBlock ReplIt="JosephCollard/Remainder-Example-1">
int remainder = 5 % 2;
Console.WriteLine($"5 divided by 2 has a remainder of {remainder}.");
    </CodeBlock>
    <CodeBlock ReplIt="JosephCollard/Remainder-Example-2">
int remainder = 8 % 3;
Console.WriteLine($"10 divided by 3 has a remainder of {remainder}.");
    </CodeBlock>
    <Note>
        The <b>remainder operator</b> uses the same order of operation
        as the <b>multiplication</b> and <b>division</b> operators.
    </Note>
</Section>